.div {
  margin-left: -10px;
}

button {
  position: absolute;
  left: 393px;
  top: 609px;
  padding: 30px 120px !important;
  border-radius: 50px !important;
  background: red !important;
  color: #fff !important;
  font-size: 25px !important;
  font-family: "Proxima Nova", sans-serif;
}
