@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h1 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}

nav {
  display: block;
  /* width: 660px; */
  margin: 0 auto 30px;
}
.one ul {
  padding: 1em 0;
  background: #ECDAD6;
}
.one a {
  padding: 1em;
  background: rgba(177, 152, 145, .3);
  border-right: 1px solid #b19891;
  color: #695753;
}
.one a:hover {background: #b19891;}
.one li {
  display: inline;
}
.two ul {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}
.two li {
  float: left;
}
.two a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}
.two a:hover {background: #ADC0CE}
.three ul {
  padding: 0;
  background: #E4EFD1;
}
.three li {
  display: inline-block;
}
.three a {
  padding: 1em;
  display: block;
  color: #74924C;
  border-right: 1px solid #BAD78B;
  background: rgba(186, 215, 139, .3);
}
.three a:hover {background: #BAD78B}
.four ul {
  display: -webkit-flex; 
  display: flex;
  background: #FFD7A7;
  padding-left: 0;
}
.four a {
  padding: 1em;
  display: block;
  color: #9B4222;
  border-right: 1px solid #FFAB51;
  background: rgba(255, 171, 81, .3);
}
.four a:hover {background: #FFAB51}