<div class="wrapper container">
  <div class="header-wrapper">
    <div class="inner">
      <div class="ui two column grid top nav">
        <div class="ui column logo">
          <a routerLink="menu">
            <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px"
                 viewBox="0 0 395.8 138" xml:space="preserve">
<style type="text/css">
	.st321 {
    fill: #FFFFFF;
  }

  .st11 {
    fill: #E21A1A;
  }

  .st2 {
    fill: none;
    stroke: #E21A1A;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
</style>
              <path class="st321" d="M5.4,101.5c-2.9,0-4.4-1.3-4.4-3.8c0-3.5,2.2-5.5,5.4-5.5h20c2.8,0,4.3,1.2,4.3,3.8c0,3.5-2.3,5.5-5.3,5.5H20
	l-3.3,31c-0.3,3.3-2,4.9-5,4.9c-2.9,0-4.4-1.3-4.4-4c0-0.3,0-0.6,3.3-32H5.4z"/>
              <path class="st321" d="M126.3,101.5c-2.9,0-4.4-1.3-4.4-3.8c0-3.5,2.2-5.5,5.4-5.5h20c2.8,0,4.3,1.2,4.3,3.8c0,3.5-2.3,5.5-5.3,5.5
	h-5.4l-3.3,31c-0.3,3.3-2,4.9-5,4.9c-2.9,0-4.4-1.3-4.4-4c0-0.3,0-0.6,3.3-32H126.3z"/>
              <path class="st321" d="M257,92.2h15.9c2.9,0,4.3,1.2,4.3,3.7c0,3.6-2.2,5.6-5.3,5.6h-11.4l-0.9,8.9h8c2.8,0,4.2,1.3,4.2,3.8
	c0,3.5-2,5.6-5.2,5.6h-8l-1.4,13.5c-0.3,2.8-2,4.3-5.1,4.3c-2.8,0-4.3-1.2-4.3-3.6c0-0.2,0.1-0.4,3.8-36.4
	C252,94,253.8,92.2,257,92.2z"/>
              <path class="st321" d="M313.8,113.6c0,12.2-8.2,24.4-20.8,24.4c-10.9,0-16.1-8.9-16.1-18.7c0-12,7.9-24.5,20.6-24.5
	C308.6,94.8,313.8,103.9,313.8,113.6z M285.7,118.4c0,5.9,2.6,11.1,8.2,11.1c7.8,0,11-9,11-15c0-5.8-2.6-11-8.4-11
	C288.9,103.5,285.7,112.4,285.7,118.4z"/>
              <path class="st321" d="M354.7,113.6c0,12.2-8.2,24.4-20.8,24.4c-10.9,0-16.1-8.9-16.1-18.7c0-12,7.9-24.5,20.6-24.5
	C349.6,94.8,354.7,103.9,354.7,113.6z M326.7,118.4c0,5.9,2.6,11.1,8.2,11.1c7.8,0,11-9,11-15c0-5.8-2.6-11-8.4-11
	C329.8,103.5,326.7,112.4,326.7,118.4z"/>
              <path class="st321" d="M187.1,113.6c0,12.2-8.2,24.4-20.8,24.4c-10.9,0-16.1-8.9-16.1-18.7c0-12,7.9-24.5,20.6-24.5
	C182,94.8,187.1,103.9,187.1,113.6z M159,118.4c0,5.9,2.6,11.1,8.2,11.1c7.8,0,11-9,11-15c0-5.8-2.6-11-8.4-11
	C162.2,103.5,159,112.4,159,118.4z"/>
              <path class="st321" d="M228.1,113.6c0,12.2-8.2,24.4-20.8,24.4c-10.9,0-16.1-8.9-16.1-18.7c0-12,7.9-24.5,20.6-24.5
	C222.9,94.8,228.1,103.9,228.1,113.6z M200,118.4c0,5.9,2.6,11.1,8.2,11.1c7.8,0,11-9,11-15c0-5.8-2.6-11-8.4-11
	C203.1,103.5,200,112.4,200,118.4z"/>
              <path class="st321" d="M64.6,113.6c0,12.2-8.2,24.4-20.8,24.4c-10.9,0-16.1-8.9-16.1-18.7c0-12,7.9-24.5,20.6-24.5
	C59.4,94.8,64.6,103.9,64.6,113.6z M36.5,118.4c0,5.9,2.6,11.1,8.2,11.1c7.8,0,11-9,11-15c0-5.8-2.6-11-8.4-11
	C39.6,103.5,36.5,112.4,36.5,118.4z"/>
              <path class="st321" d="M105.5,113.6c0,12.2-8.2,24.4-20.8,24.4c-10.9,0-16.1-8.9-16.1-18.7c0-12,7.9-24.5,20.6-24.5
	C100.4,94.8,105.5,103.9,105.5,113.6z M77.5,118.4c0,5.9,2.6,11.1,8.2,11.1c7.8,0,11-9,11-15c0-5.8-2.6-11-8.4-11
	C80.6,103.5,77.5,112.4,77.5,118.4z"/>
              <path class="st321" d="M368.5,92.2h10.7c11.2,0,16.5,9.5,16.5,19.7c0,12.9-9.4,25.4-22.4,25.5h-10.4c-3.3,0-4.5-0.5-4.5-3.5
	c0-0.4,0-0.9,3.8-36.5C362.5,94,364.6,92.2,368.5,92.2z M371.1,101.6l-2.8,26.6h5.8c8-0.5,12-8.4,12-15.3c0-6.1-2.7-11.4-8.4-11.4
	H371.1z"/>
              <g>
	<path class="st11" d="M390.7,82.3H88.9c-2.8,0-5.1-2.3-5.1-5.1s2.3-5.1,5.1-5.1h296.4c-1.9-15.3-12.6-30-30.4-41.7
		c-19.6-12.9-45.4-20.3-70.6-20.3h-233c-2.8,0-5.1-2.3-5.1-5.1S48.5,0,51.3,0h233c27.2,0,55,8,76.2,22c22.8,15,35.3,34.6,35.3,55.3
		C395.8,80.1,393.5,82.3,390.7,82.3z"/>
</g>
              <g>
	<path class="st11" d="M348.7,58.3h-66c-1.1,0-2.2-0.4-3.1-1.1l-31.2-24.1c-1.7-1.3-2.4-3.6-1.7-5.7c0.7-2.1,2.6-3.4,4.8-3.4h29.1
		c38.3,0,60.6,8.1,72.4,26.4c1,1.6,1.1,3.6,0.2,5.2C352.2,57.3,350.5,58.3,348.7,58.3z M284.4,48.1h53.3
		c-11-9.7-28.9-13.9-57.1-13.9h-14.2L284.4,48.1z"/>
</g>
              <g>
	<path class="st11" d="M251.4,58.3h-82.9c-1.1,0-2.2-0.4-3.1-1.1l-31.1-24.1c-1.7-1.3-2.4-3.6-1.7-5.7s2.6-3.4,4.8-3.4h82.9
		c1.1,0,2.2,0.4,3.1,1.1l31.1,24.1c1.7,1.3,2.4,3.6,1.7,5.7C255.5,56.9,253.6,58.3,251.4,58.3z M170.2,48.1h66.3l-18-13.9h-66.3
		L170.2,48.1z"/>
</g>
              <g>
	<path class="st11" d="M136.8,58.3H39.3c-2.8,0-5.1-2.3-5.1-5.1s2.3-5.1,5.1-5.1H122l-18-13.9H6.1c-2.8,0-5.1-2.3-5.1-5.1
		s2.3-5.1,5.1-5.1h99.6c1.1,0,2.2,0.4,3.1,1.1l31.1,24.1c1.7,1.3,2.4,3.6,1.7,5.7S139,58.3,136.8,58.3z"/>
</g>
              <g>
	<path class="st2" d="M52,29.1"/>
</g>
</svg>


          </a>
        </div>
        <!--        <div class="ui right aligned column user">-->
        <!--          <i class="ui icon user"></i>-->
        <!--          Иванов И.И.-->
        <!--        </div>-->
      </div>
      <div id="train-num" *ngIf="!fromRZD">№002 Москва - Екатеринбург</div>
      <div class="ui dropdown routes">
        <input type="hidden" [(ngModel)]="routes" name="routes">
        <div class="default text">Выберите направление</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="1">№002 Москва - Екатеринбург</div>
          <div class="item" data-value="2">№654 Москва - Владивосток</div>
        </div>
      </div>

      <h1>Выбор станции:</h1>
      <div id="train-route-info" class="train-route-info">

        <div class="route-bar">
          <div class="selected-train" #train>
            <svg [ngStyle]="{'left' : trainIsLeft}" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px"
                 viewBox="0 0 158.1 57.2" style="enable-background:new 0 0 158.1 57.2;" xml:space="preserve">
<style type="text/css">
	.st0 {
    fill: #E21A1A;
  }

  .st1 {
    fill: none;
    stroke: #E21A1A;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
</style>
              <g>
	<path class="st0" d="M155.6,44.9h-106c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5H153C151.5,20.4,131.7,5,107.6,5h-89
		c-1.4,0-2.5-1.1-2.5-2.5S17.3,0,18.6,0h89c27.8,0,50.5,19,50.5,42.4C158.1,43.8,157,44.9,155.6,44.9z"/>
</g>
              <g>
	<path class="st0" d="M135,31.6h-32.5c-0.6,0-1.2-0.2-1.6-0.6L85.5,17.7c-0.8-0.7-1.1-1.8-0.7-2.8c0.4-1,1.3-1.6,2.3-1.6h14.3
		c18.9,0,29.9,4.5,35.7,14.6c0.4,0.8,0.4,1.7,0,2.5C136.7,31.1,135.9,31.6,135,31.6z M103.4,26.6h26.7c-5.4-5.8-14.3-8.3-28.6-8.3
		h-7.6L103.4,26.6z"/>
</g>
              <g>
	<path class="st0"
        d="M102.5,31.6H71c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5h31.5c1.4,0,2.5,1.1,2.5,2.5S103.9,31.6,102.5,31.6z"/>
</g>
              <g>
	<path class="st0"
        d="M87.1,18.3H59.3c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5h27.8c1.4,0,2.5,1.1,2.5,2.5S88.5,18.3,87.1,18.3z"/>
</g>
              <g>
	<path class="st0"
        d="M43.6,18.3H3c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5h40.7c1.4,0,2.5,1.1,2.5,2.5S45,18.3,43.6,18.3z"/>
</g>
              <g>
	<path class="st0" d="M59,31.1H27c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5h32c1.4,0,2.5,1.1,2.5,2.5S60.4,31.1,59,31.1z"/>
</g>
              <path class="st0" d="M122.6,39.9c-5.1,0-8.3,5.1-8.3,9.7c0,3.8,2.1,7.6,6.6,7.6c5.2,0,8.4-5,8.4-9.7
	C129.3,43.7,127.2,39.9,122.6,39.9z M124.6,47.8c0,1.6-0.8,4.8-3.3,4.8c-2.2,0-2.3-2.8-2.3-3.3c0-1.5,0.8-4.7,3.2-4.7
	C124.4,44.5,124.6,47.1,124.6,47.8z"/>
              <path class="st0" d="M139.6,39.9c-5.1,0-8.3,5.1-8.3,9.7c0,3.8,2.1,7.6,6.6,7.6c5.2,0,8.4-5,8.4-9.7
	C146.3,43.7,144.2,39.9,139.6,39.9z M141.6,47.8c0,1.6-0.8,4.8-3.3,4.8c-2.2,0-2.3-2.8-2.3-3.3c0-1.5,0.8-4.7,3.2-4.7
	C141.4,44.5,141.6,47.1,141.6,47.8z"/>
              <path class="st0" d="M62.2,39.9c-5.1,0-8.3,5.1-8.3,9.7c0,3.8,2.1,7.6,6.6,7.6c5.2,0,8.4-5,8.4-9.7C69,43.7,66.9,39.9,62.2,39.9z
	 M64.2,47.8c0,1.6-0.8,4.8-3.3,4.8c-2.2,0-2.3-2.8-2.3-3.3c0-1.5,0.8-4.7,3.2-4.7C64.1,44.5,64.2,47.1,64.2,47.8z"/>
              <path class="st0" d="M79.3,39.9c-5.1,0-8.3,5.1-8.3,9.7c0,3.8,2.1,7.6,6.6,7.6c5.2,0,8.4-5,8.4-9.7C86,43.7,83.9,39.9,79.3,39.9z
	 M81.3,47.8c0,1.6-0.8,4.8-3.3,4.8c-2.2,0-2.3-2.8-2.3-3.3c0-1.5,0.8-4.7,3.2-4.7C81.1,44.5,81.3,47.1,81.3,47.8z"/>
              <g>
	<path class="st1" d="M5.7-57.4"/>
</g>
</svg>


          </div>
          <div class="line" (mouseover)="isTrainGo=true" (mouseleave)="isTrainGo=false"
               (mousemove)="isTrainGo ? onMouseMove($event) : ''">

            <div class="station" *ngFor="let station of stationList">
              <div class="round"></div>
              <span>{{ station }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="restaurant">
      <div class="head"><strong>Какие рестораны</strong> мы предлагаем</div>

      <div class="ui grid four column restaurant-list">

        <div class="ui column">
          <div class="rest-item">
            <div class="rest-item-img"><img src="../../assets/img/rest.png" alt=""></div>
            <div class="rest-item-content">
              <div class="rest-name"><strong>ДоДо Пицца</strong></div>
              <div class="min-price">Доставка от 99 руб.
                <div class="ratio">
                  <i class="star outline icon"></i>
                  <strong>4.2</strong></div>
              </div>
            </div>
            <div class="overlay">
              <span>ДоДо Пицца</span>
              <p>Европейская, азиатская, итальянская, японская </p>
              <a href="#">Посмотреть все меню</a>
            </div>
          </div>
        </div>
        <div class="ui column">
          <div class="rest-item">
            <div class="rest-item-img"><img src="../../assets/img/rest.png" alt=""></div>
            <div class="rest-item-content">
              <div class="rest-name"><strong>ДоДо Пицца</strong></div>
              <div class="min-price">Доставка от 99 руб.
                <div class="ratio">
                  <i class="star outline icon"></i>
                  <strong>4.2</strong></div>
              </div>
            </div>
            <div class="overlay">
              <span>ДоДо Пицца</span>
              <p>Европейская, азиатская, итальянская, японская </p>
              <a href="#">Посмотреть все меню</a>
            </div>
          </div>
        </div>
        <div class="ui column">
          <div class="rest-item">
            <div class="rest-item-img"><img src="../../assets/img/rest.png" alt=""></div>
            <div class="rest-item-content">
              <div class="rest-name"><strong>ДоДо Пицца</strong></div>
              <div class="min-price">Доставка от 99 руб.
                <div class="ratio">
                  <i class="star outline icon"></i>
                  <strong>4.2</strong></div>
              </div>
            </div>
            <div class="overlay">
              <span>ДоДо Пицца</span>
              <p>Европейская, азиатская, итальянская, японская </p>
              <a href="#">Посмотреть все меню</a>
            </div>
          </div>
        </div>
        <div class="ui column">
          <div class="rest-item">
            <div class="rest-item-img"><img src="../../assets/img/rest.png" alt=""></div>
            <div class="rest-item-content">
              <div class="rest-name"><strong>ДоДо Пицца</strong></div>
              <div class="min-price">Доставка от 99 руб.
                <div class="ratio">
                  <i class="star outline icon"></i>
                  <strong>4.2</strong></div>
              </div>
            </div>
            <div class="overlay">
              <span>ДоДо Пицца</span>
              <p>Европейская, азиатская, итальянская, японская </p>
              <a href="#">Посмотреть все меню</a>
            </div>
          </div>
        </div>
        <div class="ui column">
          <div class="rest-item">
            <div class="rest-item-img"><img src="../../assets/img/rest.png" alt=""></div>
            <div class="rest-item-content">
              <div class="rest-name"><strong>ДоДо Пицца</strong></div>
              <div class="min-price">Доставка от 99 руб.
                <div class="ratio">
                  <i class="star outline icon"></i>
                  <strong>4.2</strong></div>
              </div>
            </div>
            <div class="overlay">
              <span>ДоДо Пицца</span>
              <p>Европейская, азиатская, итальянская, японская </p>
              <a href="#">Посмотреть все меню</a>
            </div>
          </div>
        </div>
        <div class="ui column">
          <div class="rest-item">
            <div class="rest-item-img"><img src="../../assets/img/rest.png" alt=""></div>
            <div class="rest-item-content">
              <div class="rest-name"><strong>ДоДо Пицца</strong></div>
              <div class="min-price">Доставка от 99 руб.
                <div class="ratio">
                  <i class="star outline icon"></i>
                  <strong>4.2</strong></div>
              </div>
            </div>
            <div class="overlay">
              <span>ДоДо Пицца</span>
              <p>Европейская, азиатская, итальянская, японская </p>
              <a href="#">Посмотреть все меню</a>
            </div>
          </div>
        </div>
        <div class="ui column">
          <div class="rest-item">
            <div class="rest-item-img"><img src="../../assets/img/rest.png" alt=""></div>
            <div class="rest-item-content">
              <div class="rest-name"><strong>ДоДо Пицца</strong></div>
              <div class="min-price">Доставка от 99 руб.
                <div class="ratio">
                  <i class="star outline icon"></i>
                  <strong>4.2</strong></div>
              </div>
            </div>
            <div class="overlay">
              <span>ДоДо Пицца</span>
              <p>Европейская, азиатская, итальянская, японская </p>
              <a href="#">Посмотреть все меню</a>
            </div>
          </div>
        </div>
        <div class="ui column">
          <div class="rest-item">
            <div class="rest-item-img"><img src="../../assets/img/rest.png" alt=""></div>
            <div class="rest-item-content">
              <div class="rest-name"><strong>ДоДо Пицца</strong></div>
              <div class="min-price">Доставка от 99 руб.
                <div class="ratio">
                  <i class="star outline icon"></i>
                  <strong>4.2</strong></div>
              </div>
            </div>
            <div class="overlay">
              <span>ДоДо Пицца</span>
              <p>Европейская, азиатская, итальянская, японская </p>
              <a href="#">Посмотреть все меню</a>
            </div>
          </div>
        </div>

      </div>
      <a class="more" href="">Показать все</a>
    </div>
    <div class="dishes">
      <div class="head">Кухни и <strong>блюда</strong></div>
      <div class="ui three column grid dish-wrapper">
        <div class="ui ten wide column">
          <div class="big-dish-card">
            <div class="img">
              <img src="../../assets/img/food.jpg" alt="">
            </div>
            <div class="dish-info">
              <div class="dish-title-with-weight-cost">
                <strong>Спагетти Болонезе</strong>
                300 г.
                <strong class="cost">390 <i class="ruble sign icon"></i></strong>
              </div>
              <p class="dish-desc">
                Соус на основе мелко рубленной говядины, томленых овощей и томатов
              </p>
            </div>
          </div>
        </div>

        <div class="ui three wide column">
          <ul class="dish-category-list">
            <li>Бургеры</li>
            <li>Суши</li>
            <li>Пиццы</li>
            <li>Здоровая еда</li>
            <li>Вегги</li>
            <li>Шаверма</li>
            <li>Итальянская</li>
            <li>Грузинская</li>
            <li>Русская</li>
          </ul>
        </div>

        <div class="ui three wide column">
          <ul class="dish-category-list">
            <li>Пироги</li>
            <li>Шашлыки</li>
            <li>Пиццы</li>
            <li>Десерты</li>
            <li>Стейки</li>
            <li>Завтраки</li>
            <li>Сендвичи</li>
            <li>Лапша Вок</li>
            <li>Для детей</li>
          </ul>
        </div>
      </div>
      <div class="dish-carousel">
        <div class="carousel">
          <div class="carousel-wrapper">
            <div class="slide">
              <a href="">
                <img src="../../assets/img/food.jpg" alt="">
              </a>
            </div>
            <div class="slide">
              <a href="">
                <img src="../../assets/img/food.jpg" alt="">
              </a>
            </div>
            <div class="slide">
              <a href="">
                <img src="../../assets/img/food.jpg" alt="">
              </a>
            </div>
            <div class="slide">
              <a href="">
                <img src="../../assets/img/food.jpg" alt="">
              </a>
            </div>
            <div class="slide">
              <a href="">
                <img src="../../assets/img/food.jpg" alt="">
              </a>
            </div>
            <div class="slide">
              <a href="">
                <img src="../../assets/img/food.jpg" alt="">
              </a>
            </div>
            <div class="slide">
              <a href="">
                <img src="../../assets/img/food.jpg" alt="">
              </a>
            </div>
            <div class="slide">
              <a href="">
                <img src="../../assets/img/food.jpg" alt="">
              </a>
            </div>

          </div>
          <div class="navs">
            <div class="prev">
              <div class="line"></div>
            </div>
            <div class="pagination"><strong>06</strong>/<span>106</span></div>
            <div class="next">
              <div class="line"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="construct-menu">
        <div class="head-text"><strong>Выберите обед</strong><br> из любимых блюд</div>

      </div>
    </div>
  </div>
</div>

