$border-menus: 2px solid #4b515e30;
$lighter-main-bkg-color: #1e2227;
$main-bkg-color: #1b1d24;
$first-main-font: 'Twentytwelve Sans G', Montserrat, "Avenir Next", sans-serif;
$second-main-font: Roboto, sans-serif;
$font-color: #4b515e;
$icon-color: #bec2cc99;
$light-color: #dddddd;
$blue-color: #0085FF;
